[submodule "pack/plugins/start/tagbar"]
	path = pack/plugins/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "pack/plugins/start/molokai"]
	path = pack/plugins/start/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/plugins/start/vim-multiple-cursors"]
	path = pack/plugins/start/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "pack/plugins/start/mru"]
	path = pack/plugins/start/mru
	url = https://github.com/vim-scripts/mru.vim.git
[submodule "pack/plugins/start/airline"]
	path = pack/plugins/start/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/plugins/start/indentLine"]
	path = pack/plugins/start/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "pack/plugins/start/vim-go"]
	path = pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "pack/plugins/start/ctrlp"]
	path = pack/plugins/start/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
